* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: rgb(198, 252, 252);
  position: sticky;
  top: 0;
}

.nav_list {
  list-style: none;
  display: flex;
}

.nav_link {
  color: blue;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_item {
  margin: 0 0 0 1.5rem;
}

.presentation {
  font-size: 1.4rem;
  background-image: url("../img/happygirl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-bottom: 150px;
}
.main_content {
  display: flex;
  flex-direction: column;
  padding: 150px;
  color: #09390c;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  width: 100%;
}

footer {
  background-color: #002c61;
  display: flex;
  flex-direction: column;
}
.footer-sm {
  color: white;
}
.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.footer-sm_icons {
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom {
  padding: 1rem 0;
}

.footer-bottom_copyright {
  text-align: center;
  color: white;
  font-weight: 400;
}
/* ABOUT US */
.section_about {
  background-image: url(../img/aboutusbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section_about_2 {
  display: flex;
  flex-direction: row;
}

.about_a {
  font-size: 2rem;
  color: aliceblue;
}
.about_b {
  display: flex;
  flex-direction: row;
}

.tittle_about {
  background-color: #002c61;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 10px;
}
.text_about {
  text-align: center;
}

/* OUR SERVICES */
.section_title {
  display: flex;
  justify-content: center;
  background-color: #002c61;
  color: aliceblue;
  padding-bottom: 100px;
  padding-top: 100px;
}
.section_services {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  padding-top: 50px;
}
.service_card_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service_card_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service_text_1 {
  font-size: 0.9rem;
  padding: 10px;
}
.service_text_2 {
  font-size: 0.9rem;
  padding: 10px;
}
.service_subtitle {
  padding: 20px;
}
/* PRINCING */

.section_pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cce3fe;
  height: 150px;
  font-size: 1.2rem;
}
.pricing_card {
  text-align: center;
  display: grid;

  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  gap: 2rem;
}

.pricing_card_1 {
  padding: 15px;
  min-height: 200px;
  background-color: #cce3fe;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pricing_card_2 {
  padding: 15px;
  min-height: 200px;
  background-color: #cce3fe;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.price_amount {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #002c61;
}
/* CONTACT US */

.contact_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002c61;
  color: #ffffff;
  height: 100px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 42%,
    rgba(3, 83, 99, 1) 100%
  );
  padding-bottom: 50px;
  padding-top: 50px;
}

.form_name,
.form_email {
  text-align: center;
  padding: 3rem;
  color: white;
  font-size: 1.3rem;
}
.btn_success {
  font-size: 1rem;
}
